<a href="https://colab.research.google.com/github/mili-b/PredictiveAnalytics/blob/main/Copy_of_Copy_data301_project2_of_Ecommerce_Purchases_Exercise_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ecommerce Purchases Exercise

In this Exercise you will work with 'Fake Data' about some purchases done through Amazon! Follow the directions on the cells bellow and try your best to answer the questions and complete the tasks. Many of the tasks can be solved in 'different ways'.

Do not get discouraged if the exercie does not make "Real-World", REMEMBER that all the data is made-up.

Also note that all of these questions can be answered with one line of code.
____
*Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom.*

In [ ]:
import pandas as pd

In [ ]:
ecom = pd.read_csv('https://raw.githubusercontent.com/glopez21/ML-Data/main/EcommercePurchases.csv')

In [ ]:
ecom.dtypes

Address              object
Lot                  object
AM or PM             object
Browser Info         object
Company              object
Credit Card           int64
CC Exp Date          object
CC Security Code      int64
CC Provider          object
Email                object
Job                  object
IP Address           object
Language             object
Purchase Price      float64
dtype: object

**Check the head of the DataFrame.**

In [ ]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

***How many rows and columns are there?***

In [ ]:
# 10,000 rows and 14 columns

ecom.shape

(10000, 14)

In [ ]:
ecom.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

***What is the average Purchase Price?***

In [ ]:
#Average purchase price is 50.35

ecom['Purchase Price'].mean()

print(round(ecom['Purchase Price'].mean(), 2))

50.35

***What were the highest and lowest purchase prices?***

In [ ]:
# highest purchase price is 99.99

ecom['Purchase Price'].max()

99.99

In [ ]:
# lowest purchase price is 0

ecom['Purchase Price'].min()

0.0

***How many people have English 'en' as their Language of choice on the website?***

In [ ]:
#using 'Address' (which is unique) as a proxy for people
# 1098 - list english as language of choice

#ecom['Company'].is_unique   #false
#ecom['Email'].is_unique     #false
ecom['Address'].is_unique     #true

ecom.groupby(['Language'])['Address'].count()

Language
de    1155
el    1137
en    1098
es    1095
fr    1097
it    1086
pt    1118
ru    1155
zh    1059
Name: Address, dtype: int64

In [ ]:
#Alternately - using 'Company' (which is not unique) as a proxy for people
#first remove duplicate Company names to get unique list of company/people

ecom_dup = pd.read_csv('https://raw.githubusercontent.com/glopez21/ML-Data/main/EcommercePurchases.csv')

In [ ]:
# dropping duplicate values in 'Company'
ecom_dup.drop_duplicates(subset ="Company",
                     keep = False, inplace = True)

In [ ]:
#number of rows fall to 7,946 from 10,000
ecom_dup.shape

(7946, 14)

In [ ]:
#886 unique people/companies list english (en) as language of choice

ecom_dup.groupby(['Language'])['Company'].count()

Language
de    898
el    906
en    886
es    888
fr    890
it    863
pt    881
ru    916
zh    818
Name: Company, dtype: int64

***How many people have the job title of "Lawyer" ?***

In [ ]:
# similarly - using 'Address' (unique) as a proxy for people
# lawyer title = 30 (using unique address to count)

ecom.groupby(['Job'])['Address'].count().sort_values(ascending=False).head()

Job
Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Designer, jewellery                  27
Research officer, political party    27
Name: Address, dtype: int64

In [ ]:
#However, using 'Company' (not unique) as a proxy for people
#Lawyer title = 24 using Company to count after removing duplicates

ecom_dup.groupby(['Job'])['Company'].count().sort_values(ascending=False).head()

Job
Interior and spatial designer    27
Lawyer                           24
Radio broadcast assistant        24
Social researcher                24
Therapist, art                   22
Name: Company, dtype: int64

***How many people made the purchase during the AM and how many people made the purchase during PM ?***

*(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) )*

In [ ]:
# 5068 made purchases in PM and 4932 made purchases in AM
#with duplicate companies/people removed:
# 4034 made purchases in PM and 3912 made purchases in AM

ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [ ]:
ecom_dup['AM or PM'].value_counts()

PM    4034
AM    3912
Name: AM or PM, dtype: int64

***What are the 5 most common Job Titles?***

In [ ]:
# 5 most common job titles -  Interior and spatial designer, Lawyer, 
# Social researcher, Designer jewellery, Research officer political party, 
# purchasing manager

ecom.groupby(['Job'])['Address'].count().sort_values(ascending=False).head(5)

Job
Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Designer, jewellery                  27
Research officer, political party    27
Name: Address, dtype: int64

In [ ]:
#with duplcates for people/company removed:
#interior designer, lawyer, radio broadcaster, social researcher, therapist
ecom_dup.groupby(['Job'])['Address'].count().sort_values(ascending=False).head(5)

Job
Interior and spatial designer    27
Lawyer                           24
Radio broadcast assistant        24
Social researcher                24
Therapist, art                   22
Name: Address, dtype: int64

***Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?***

In [ ]:
# Purchase price = 75.1

ecom[ecom['Lot'] == '90 WT']

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
513,"50398 Mccoy Rest Suite 597\nSouth Garyborough,...",90 WT,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_2 like M...,Bright PLC,630438419693,11/19,173,American Express,jesse00@page.net,Energy engineer,156.70.208.94,ru,75.1

***What is the email of the person with the following Credit Card Number: 4926535242672853***

In [ ]:
# bondellen@williams-garza.com

ecom[ecom['Credit Card'] == 4926535242672853]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
1234,"2470 Maria Manors Suite 185\nJoneshaven, MN 87251",82 UX,PM,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.5.20) G...,"Cole, King and Bowers",4926535242672853,09/21,188,American Express,bondellen@williams-garza.com,Planning and development surveyor,159.182.3.50,ru,77.88

***How many people have American Express as their Credit Card Provider and made a purchase above $95 ?***

In [ ]:
# 39 with American Express made purchases over $95

ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] > 95.00)]
ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] > 95.00)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [ ]:
# with dups removed - 31 with American Express made purchases over $95
ecom_dup[(ecom_dup['CC Provider'] == 'American Express') & (ecom_dup['Purchase Price'] > 95.00)].count()

Address             31
Lot                 31
AM or PM            31
Browser Info        31
Company             31
Credit Card         31
CC Exp Date         31
CC Security Code    31
CC Provider         31
Email               31
Job                 31
IP Address          31
Language            31
Purchase Price      31
dtype: int64

***Hard: How many people have a credit card that expires in 2025?***

In [ ]:
# 1033 credit cards expire in 2025

#ecom[ecom['CC Exp Date'].str.contains('01/25')]   #this works
ecom[ecom['CC Exp Date'].str.contains('25')]       #this works
ecom[ecom['CC Exp Date'].str.contains('25')].count()

Address             1033
Lot                 1033
AM or PM            1033
Browser Info        1033
Company             1033
Credit Card         1033
CC Exp Date         1033
CC Security Code    1033
CC Provider         1033
Email               1033
Job                 1033
IP Address          1033
Language            1033
Purchase Price      1033
dtype: int64

In [ ]:
# with dups people removed - 823 credit cards expire in 2025
ecom_dup[ecom_dup['CC Exp Date'].str.contains('25')].count()

Address             823
Lot                 823
AM or PM            823
Browser Info        823
Company             823
Credit Card         823
CC Exp Date         823
CC Security Code    823
CC Provider         823
Email               823
Job                 823
IP Address          823
Language            823
Purchase Price      823
dtype: int64

***Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)***

In [ ]:
#most popular = hotmail.com, gmail.com, yahoo.com, smith.com, williams.com

ecom['domain'] = ecom['Email'].str.split('@').str[1]
ecom['domain'].value_counts()

hotmail.com            1638
yahoo.com              1616
gmail.com              1605
smith.com                42
williams.com             37
                       ...
booker.com                1
woods-allen.biz           1
richards-wilson.com       1
morris-thomas.com         1
wade-garner.com           1
Name: domain, Length: 3416, dtype: int64

In [ ]:
# with dups removed - same 5 but different ranking
ecom_dup['domain'] = ecom_dup['Email'].str.split('@').str[1]
ecom_dup['domain'].value_counts()

hotmail.com             1281
gmail.com               1280
yahoo.com               1274
smith.com                 31
williams.com              28
                        ...
buchanan.net               1
black-powell.com           1
roberts-petersen.biz       1
scott-reynolds.org         1
wade-garner.com            1
Name: domain, Length: 2834, dtype: int64

# Great Job!