<a href="https://colab.research.google.com/github/mili-b/PredictiveAnalytics/blob/main/Data301Copy_of_Salaries_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SF Salaries Exercise 

This Should be a quick exercise to practice your new found pandas skills! 

We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! But do not worry the dataset will be provided


**BE AWARE The tasks will get harder and harder as you go along.**

*Import pandas as pd.*

In [1]:
import pandas as pd

*Read Salaries.csv as a dataframe called sal.*

In [2]:
salaries=pd.read_csv('https://raw.githubusercontent.com/glopez21/ML-Data/main/Salaries.csv')

*Check the head of the DataFrame.*

In [3]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

*Use the .info() method to find out how many entries there are.*

In [4]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [5]:
salaries['BasePay'].mean()

66325.44884050643

*What is the highest amount of OvertimePay in the dataset ?*

In [6]:

salaries['OvertimePay'].max()

245131.88

*What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).*

In [7]:

salaries[salaries['EmployeeName'] == 'JOSEPH DRISCOLL'].JobTitle

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

*How much does JOSEPH DRISCOLL make (including benefits)?*

In [8]:
salaries[salaries['EmployeeName'] == 'JOSEPH DRISCOLL'].TotalPayBenefits

24    270324.91
Name: TotalPayBenefits, dtype: float64

*What is the name of highest paid person (including benefits)?*

In [9]:

(salaries[salaries.TotalPayBenefits == salaries.TotalPayBenefits.max()])

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

*What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?*

In [10]:
# he only received 'OtherPay' and it's negative
(salaries[salaries.TotalPayBenefits == salaries.TotalPayBenefits.min()])

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

*What was the average (mean) BasePay of all employees per year? (2011-2014) ?*

In [11]:

salaries.groupby(['Year'])['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

*How many unique job titles are there?*

In [12]:
salaries['JobTitle'].nunique()

2159

In [13]:

(salaries['JobTitle'].value_counts())

Transit Operator                                  7036
Special Nurse                                     4389
Registered Nurse                                  3736
Public Svc Aide-Public Works                      2518
Police Officer 3                                  2421
                                                  ...
CHIEF HOUSING INSPECTOR                              1
TRAFFIC SIGNAL OPERATOR                              1
COURT COMPUTER FACILITIES COORDINATOR                1
AUTOMOTIVE BODY AND FENDER WORKER SUPERVISOR I       1
VICTIM & WITNESS TECHNICIAN                          1
Name: JobTitle, Length: 2159, dtype: int64

*What are the top 5 most common jobs?*

In [14]:

#salaries.groupby(['JobTitle'])['Id'].count().sort_values(ascending=False).head(5)
salaries.groupby(['JobTitle'])['JobTitle'].count().sort_values(ascending=False).head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

*How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)*

In [15]:
#salaries['JobTitle'].value_counts().loc[lambda x : x<2]  #this works all data
#salaries.groupby(['Year'])['JobTitle'].value_counts().loc[lambda x : x<2]   #this works - by each year
#sum(salaries.groupby(['Year'])['JobTitle'].value_counts().loc[lambda x : x<2])

In [16]:
# 202 job titles were represented by one person in 2013

salaries[salaries['Year'] == 2013]['JobTitle'].value_counts()  == 1
sum(salaries[salaries['Year'] == 2013]['JobTitle'].value_counts()  == 1)

202

*How many people have the word Chief in their job title? (This is pretty tricky)*

In [17]:

salaries[salaries['JobTitle'].str.contains('Chief')].count()

Id                  423
EmployeeName        423
JobTitle            423
BasePay             420
OvertimePay         423
OtherPay            423
Benefits            423
TotalPay            423
TotalPayBenefits    423
Year                423
Notes                 0
Agency              423
Status                0
dtype: int64

*Bonus: Is there a correlation between length of the Job Title string and Salary?*

In [18]:
#create a new column JobTitle_len in salaries, measuring the length of each row in JobTitle

salaries['JobTitle_len'] = salaries['JobTitle'].apply(len)
salaries[['JobTitle','JobTitle_len']].head()

                                         JobTitle  JobTitle_len
0  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY            46
1                 CAPTAIN III (POLICE DEPARTMENT)            31
2                 CAPTAIN III (POLICE DEPARTMENT)            31
3            WIRE ROPE CABLE MAINTENANCE MECHANIC            36
4    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)            44

In [19]:
#dataframe JobTitle_len and TotalPayBenefits
salaries[['JobTitle_len', 'TotalPayBenefits']]
salaries[['JobTitle_len', 'TotalPayBenefits']].head()

   JobTitle_len  TotalPayBenefits
0            46         567595.43
1            31         538909.28
2            31         335279.91
3            36         332343.61
4            44         326373.19

In [20]:
#correlation - little or none
salaries[['JobTitle_len', 'TotalPayBenefits']].corr()

                  JobTitle_len  TotalPayBenefits
JobTitle_len          1.000000         -0.036878
TotalPayBenefits     -0.036878          1.000000

# Cheers!